<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}PhenFind{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', path='/vendor/bootstrap/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">

    <link rel="icon"
      type="image/png"
      href="{{ url_for('static', path='/images/favicon.png') }}">
</head>

<body class="bg-body-secondary" class="vh-100">
    <nav class="navbar bg-transparent" style="height: 8vh">
        <div class="container-fluid justify-content-center h-100 p-0">
            <a class="navbar-brand m-0 h-100 p-0" href="{{ url_for('index') }}">
                <img
                    src="{{ url_for('static', path='/images/logo.svg') }}"
                    alt="PhenFind"
                    class="h-100 d-block"
                    style="width: auto;"
                >
            </a>

            <form action="{{ url_for('gene_page') }}"
                method="get"
                class="position-absolute end-0 me-3"
                style="width: 25%; max-width: 250px;">

                <input
                    id="gene-input"
                    name="gene"
                    class="form-control bg-white border focus-ring focus-ring-success"
                    type="search"
                    placeholder="Search gene"
                    aria-label="Search gene"
                    value="{{ gene | default('') }}"
                    required
                >
            </form>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', path='/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='/vendor/bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='/vendor/autocomplete/autoComplete.min.js') }}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>