<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}PhenFind{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', path='/vendor/bootstrap/bootstrap.min.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', path='/vendor/jstree/themes/default/style.min.css') }}">

    <style>
        .autoComplete_wrapper .list-group-item:hover,
        .autoComplete_wrapper .list-group-item[aria-selected="true"] {
            background-color: #e2e6ea;
            color: #212529;
            cursor: pointer;
        }
    </style>
</head>

<body class="bg-body-secondary" class="vh-100">
    <nav class="navbar bg-body-tertiary shadow-sm" style="height: 8vh">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand m-0" href="{{ url_for('index') }}">
                <h1 class="m-0">PhenFind</h1>
            </a>

            <form action="{{ url_for('gene_page') }}"
                method="get"
                class="position-absolute end-0 me-3"
                style="width: 25%; max-width: 250px;">

                <input
                    id="gene-input"
                    name="gene"
                    class="form-control border border-success-subtle focus-ring focus-ring-success"
                    type="search"
                    placeholder="Search gene"
                    aria-label="Search gene"
                    value="{{ gene | default('') }}"
                    required
                >
            </form>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', path='/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', path='/vendor/bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='/vendor/autocomplete/autoComplete.min.js') }}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>